*{
  box-sizing: border-box;
}
h1 {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  font-size: 100px;
  color: #F4F4F9;
}
.left-nav a, .left-nav a:visited {
  text-decoration: none;
  padding: 10px;
  display: block;
  border-bottom: 1px solid #071013;
  font-size: 24px;
  color: #F4F4F9;
}
.left-nav a:hover{
  background-color: #8BE8CB;
  color: #F4F4F9;
}
.left-nav {
  list-style: none;
  background-color: #7EA2AA;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}
main > aside, main > section {
  /* display: inline-block; */
  float: left;
  padding: 10px;
  min-height: 600px;
}
main > aside {
  width: 20%;
}
main > section {
  width: 59%;
}
main img {
  max-width: 100%;
}
main {background-color: orange}
aside
  {margin: 0; padding: 0;
      }
h2, h3, h4 {
  font-family: 'Roboto Slab', serif;
  margin: 0;
}
h2 {
  font-size: 72px;
  text-align: center;
}
h3 {
  font-size: 60px;
}
h4 {
  font-size: 32px;
  color: #8BE8CB;
}
header {
  float: left;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6c/Vegetable_Cart_in_Guntur.jpg");
  color: #071013;
  width: 100%;
}
.recipe {
  width: 49%;
  float: left;
  margin-right: 8px;
}
.recipe img {
  width: 100%;
}
